- name: Register devstack openrc
  shell:
    cmd: |
      source '{{ openrc_file }}' admin admin > /dev/null
      openrc=$(env | grep OS_ | sed -e 's/^/"/' -e 's/=/": "/' -e 's/$/",/' | sed '$ s/,$//')
      echo "{$openrc}"
    executable: /bin/bash
  register: output

- name: Set fact for devstack openrc
  set_fact:
    openrc: '{{ output.stdout | from_json }}'
  no_log: yes

- name: Merge openrc into golang env
  set_fact:
    golang_env: '{{ golang_env | combine(openrc) }}'
  no_log: yes

- name: Set OS_BRANCH environment variable
  set_fact:
    golang_env: '{{ golang_env | combine({"OS_BRANCH": {{ os_branch }}) }}'
  no_log: yes
