- hosts: all
  become: yes
  roles:
    - collect-k8s-logs
  tasks:
    - name: collect kubernetes logs
      shell:
        cmd: |
          set -e
          set -x
          mkdir -p "{{ ansible_user_dir }}/workspace/logs/kubernetes"
          cp -r /opt/stack/logs/*  "{{ ansible_user_dir }}/workspace/logs/kubernetes"
        executable: /bin/bash
        chdir: '{{ ansible_user_dir }}/workspace'
      environment: '{{ zuul | zuul_legacy_vars }}'
