- hosts: all
  become: yes
  roles:
    - collect-k8s-logs
  tasks:
    - name: Clean kubernetes deployments
      shell:
        cmd: |
          set -e
          set -x
          pushd ${GOPATH}/src/k8s.io/kubernetes
          cluster/kubectl.sh config use-context local
          cluster/kubectl.sh delete services internal-http-nginx-service || true
          cluster/kubectl.sh delete services external-http-nginx-service || true
          popd
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ golang_env }}'