- hosts: all
  become: yes
  roles:
    - role: export-cloud-openrc
      vars:
        cloud_name: "catalyst"
  tasks:
    - name: Clean up k8s services
      shell:
        executable: /bin/bash
        cmd: |
          set -o pipefail
          services=$(kubectl -n octavia-lb-test get svc -o json | jq -r '.items[] | .metadata.name')
          for i in $services; do kubectl -n octavia-lb-test delete svc $i; done
          # Sleep 10s to make sure occm finishes deleting all the cloud resources.
          sleep 10

    - name: Clean up load balancers
      shell: |
        # Delete all the existing load balancers
        lbs=$(openstack loadbalancer list -c id -f value)
        for i in $lbs; do openstack loadbalancer delete --cascade $i; done
      environment: '{{ global_env }}'

    - name: Remove PR label for openstack-cloud-controller-manager
      shell: kubectl -n kube-system label ds openstack-cloud-controller-manager PR-
      ignore_errors: True

    - name: Remove openstack-cloud-controller-manager image from docker hub
      shell: docker run --rm lumir/remove-dockerhub-tag --user {{ dockerhub.username }} --password {{ dockerhub.password }} {{ dockerhub.username }}/openstack-cloud-controller-manager:{{ zuul.change }}
      no_log: yes
