- hosts: all
  become: yes
  tasks:
    - name: Clean kubernetes deployments
      shell:
        cmd: |
          set -e
          set -x
          pushd ${GOPATH}/src/k8s.io/kubernetes
          cluster/kubectl.sh config use-context local
          { source "{{ ansible_user_dir }}/openrc";}  1> /dev/null 2>&1
          ext_lb_svc_uid=$(cluster/kubectl.sh get services external-http-nginx-service -o=jsonpath='{.metadata.uid}') || true
          int_lb_svc_uid=$(cluster/kubectl.sh get services internal-http-nginx-service -o=jsonpath='{.metadata.uid}') || true

          cluster/kubectl.sh delete -f "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/examples/loadbalancers/external-http-nginx.yaml" || true
          cluster/kubectl.sh delete -f "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/examples/loadbalancers/internal-http-nginx.yaml" || true
          popd

          for lb_svc_uid in $ext_lb_svc_uid $int_lb_svc_uid; do
              lb_name=$(echo $lb_svc_uid | tr -d '-' | sed 's/^/a/' | cut -c -32)
              {
                  for pool in $(neutron lbaas-pool-list -f value -c id -c name|grep $lb_name | awk '{print $1}'); do
                      neutron lbaas-pool-delete $pool
                      sleep 1
                  done
                  for listener in $(neutron lbaas-listener-list -f value -c id -c name |grep $lb_name | awk '{print $1}'); do
                      neutron lbaas-listener-delete $listener
                      sleep 1
                  done
                  neutron lbaas-loadbalancer-delete $lb_name
                  sleep 1
              } || true
          done
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ golang_env }}'
