- hosts: all
  become: yes

  roles:
    - role: config-golang
      go_version: '1.13.4'
    - install-docker

  tasks:
    - name: Install kubectl
      shell:
        cmd: |
          curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          mv ./kubectl /usr/local/bin/kubectl
          mkdir {{ ansible_user_dir }}/.kube
          cat << EOF > {{ ansible_user_dir }}/.kube/config
          {{ kubeconfig.content }}
          EOF
      no_log: yes

    - name: Install packages
      apt:
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages:
          - build-essential
          - python3-pip
          - python3-dev
          - python3-setuptools
          - libffi-dev
          - libxslt1-dev
          - libxml2-dev
          - libyaml-dev
          - libssl-dev
          - zlib1g-dev
          - jq

    - name: Pin pip to 9.0.3
      shell: pip3 install pip==9.0.3

    - name: Install pypi libraries
      pip:
        name: "{{ libraries }}"
      ignore_errors: True
      vars:
        libraries:
          - python-openstackclient
          - python-octaviaclient
          - httpie

    - name: Login dockerhub
      shell: docker login -u {{ dockerhub.username }} -p {{ dockerhub.password }}
      no_log: yes

    - name: Build and upload openstack-cloud-controller-manager image
      shell:
        cmd: |
          export BUILD_CMDS=openstack-cloud-controller-manager
          export IMAGE_NAMES=openstack-cloud-controller-manager
          export ARCHS=${ARCHS:-amd64}

          REGISTRY={{ dockerhub.username }} VERSION={{ zuul.change }} make upload-images
        chdir: '{{ k8s_os_provider_src_dir }}'
      environment: '{{ global_env }}'

    - name: Wait until openstack-cloud-controller-manager is avaialble for patching
      shell:
        executable: /bin/bash
        cmd: |
          set -o pipefail
          export KUBECONFIG={{ ansible_user_dir }}/.kube/config
          kubectl -n kube-system get ds openstack-cloud-controller-manager -o json | jq -r '.metadata.labels | keys | .[]'
      register: result
      until: '"PR" not in result.stdout_lines'
      retries: 30
      delay: 10

    - name: Update openstack-cloud-controller-manager with the new docker image and add testing label
      shell:
        executable: /bin/bash
        cmd: |
          export KUBECONFIG={{ ansible_user_dir }}/.kube/config
          kubectl -n kube-system set image daemonset/openstack-cloud-controller-manager openstack-cloud-controller-manager={{ dockerhub.username }}/openstack-cloud-controller-manager:{{ zuul.change }}
          kubectl -n kube-system label daemonset openstack-cloud-controller-manager PR={{ zuul.change }}

    - name: Wait for openstack-cloud-controller-manager up and running
      shell:
        executable: /bin/bash
        cmd: |
          set -o pipefail
          sleep 5
          export KUBECONFIG={{ ansible_user_dir }}/.kube/config
          kubectl -n kube-system get po | grep openstack-cloud-controller-manager | grep Running
      register: check_pod
      until: check_pod.rc == 0
      retries: 24
      delay: 5

    - name: Run acceptance tests for LoadBalancer Service
      shell:
        executable: /bin/bash
        chdir: '{{ k8s_os_provider_src_dir }}'
        cmd: KUBECONFIG={{ ansible_user_dir }}/.kube/config FLOATING_IP=103.254.157.207 bash tests/e2e/cloudprovider/test-lb-service.sh
