- hosts: all
  become: yes
  tasks:
    - name: Upload E2E conformance test result to kubernetes testgrid
      shell:
        cmd: |
          set -e
          set -x
          # install gsutil, upload_e2e.py depends on it
          export CLOUD_SDK_REPO="cloud-sdk-$(lsb_release -c -s)"
          echo "deb http://packages.cloud.google.com/apt $CLOUD_SDK_REPO main" | tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
          curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add
          apt-get update && sudo apt-get install google-cloud-sdk --yes
          apt-get install google-cloud-sdk-app-engine-java --yes
          export LOG_DIR='{{ ansible_user_dir }}/workspace/logs/kubernetes'
          # get upload_e2e.py
          wget https://raw.githubusercontent.com/kubernetes/test-infra/master/testgrid/conformance/upload_e2e.py
          # upload e2e log to google storage
          python upload_e2e.py --junit=$LOG_DIR/junit_01.xml --log=$LOG_DIR/e2e.log \
              --bucket=gs://kubernetes-openstack/cloud-provider-openstack-acceptance-test-e2e-conformance
        executable: /bin/bash
      environment: '{{ golang_env }}'
