- hosts: k8s-master
  name: Bootstrap kubernetes master
  become: yes

  pre_tasks:
    - name: create /etc/kubernetes
      file:
        path: /etc/kubernetes
        state: directory

    - name: ship kubeadm.yaml
      copy:
        dest: /etc/kubernetes/kubeadm.yaml
        content: |
          apiVersion: kubeadm.k8s.io/v1beta2
          kind: ClusterConfiguration
          networking:
            podSubnet: 192.168.0.0/16
          kubernetesVersion: {{ kubernetes_version | default('latest') }}
          apiServer:
            extraArgs:
              "cloud-provider": "external"
          controllerManager:
            extraArgs:
              "cloud-provider": "external"
          ---
          apiVersion: kubeadm.k8s.io/v1beta2
          kind: InitConfiguration
          nodeRegistration:
            kubeletExtraArgs:
              cloud-provider: "external"

  roles:
    - config-golang
    - export-cloud-openrc
    - role: create-multinodes-k8s-cluster-with-kubeadm
      k8s_role_to_deploy: ["master"]
      network_addon: calico

  tasks:
    - name: Build openstack-cloud-controller-manager image
      environment: '{{ global_env }}'
      shell:
        executable: /bin/bash
        chdir: '{{ k8s_os_provider_src_dir }}'
        cmd: |
          set -o pipefail
          set -ex

          apt-get install build-essential jq -y

          export ARCH=amd64
          export IMAGE_NAMES=openstack-cloud-controller-manager
          export VERSION=latest
          make build-images

          docker tag k8scloudprovider/${IMAGE_NAMES}-${ARCH}:latest k8scloudprovider/${IMAGE_NAMES}:latest

    - name: create cloud-config
      environment: '{{ global_env }}'
      shell:
        chdir: '{{ k8s_os_provider_src_dir }}'
        executable: /bin/bash
        cmd: |
          set -o pipefail
          set -ex

          cat > /etc/kubernetes/cloud-config <<EOF
          [Global]
          domain-name = $OS_USER_DOMAIN_NAME
          tenant-id = $OS_PROJECT_ID
          auth-url = $OS_AUTH_URL
          password = $OS_PASSWORD
          username = $OS_USERNAME
          region = $OS_REGION_NAME
          [BlockStorage]
          bs-version = v3
          ignore-volume-az = yes
          EOF

          # Create cloud-config
          kubectl -n kube-system create secret generic cloud-config --from-file=cloud.conf=/etc/kubernetes/cloud-config -oyaml

    - name: depoy openstack cloud controller manager
      shell:
        chdir: '{{ k8s_os_provider_src_dir }}'
        executable: /bin/bash
        cmd: |
          set -ex

          kubectl apply -f cluster/addons/rbac/
          kubectl apply -f manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml

    - name: get kubeadm join command
      shell: kubeadm token create --print-join-command 2>/dev/null
      register: kubeadm_join_cmd

- hosts: k8s-node-1,k8s-node-2
  name: join kubernetes nodes
  become: yes
  roles:
    - role: create-multinodes-k8s-cluster-with-kubeadm
      k8s_role_to_deploy:
        - node
      kubeadm_join_cmd: "{{ hostvars['k8s-master']['kubeadm_join_cmd']['stdout'] }}"

- hosts: k8s-master
  name: Run conformance test
  become: yes

  tasks:
    - name: THIS TASK IS ONLY FOR DEBUGGING PURPOSE, SHOULD BE REMOVED
      shell:
        executable: /bin/bash
        cmd: sleep 28800

    - name: Wait for nodes ready
      shell:
        executable: /bin/bash
        cmd: kubectl get nodes | grep Ready | wc -l
      register: result
      until: result.stdout | int == 3
      retries: 30
      delay: 10

    - name: Install kubetest
      environment: '{{ global_env }}'
      shell:
        executable: /bin/bash
        cmd: |
          set -o pipefail
          set -ex

          git clone https://github.com/kubernetes/test-infra --depth 1
          cd test-infra
          go install ./kubetest

    - name: Run conformance test
      environment: '{{ global_env }}'
      shell:
        executable: /bin/bash
        cmd: |
          set -ex

          K8S_VERSION=$(kubectl version -o json | jq -r '.serverVersion.gitVersion')
          export KUBERNETES_CONFORMANCE_TEST=y

          mkdir -p '{{ k8s_log_dir }}'
          export LOG_DIR='{{ k8s_log_dir }}'

          kubetest --dump=$LOG_DIR \
            --test \
            --provider=skeleton \
            --ginkgo-parallel=1 \
            --test_args="--ginkgo.focus=\\[Conformance\\] --ginkgo.noColor=true --ginkgo.skip=\\[sig\\-apps\\]\\sDaemon\\sset\\s\\[Serial\\]\\sshould\\srollback\\swithout\\sunnecessary\\srestarts\\s\\[Conformance\\]" \
            --extract ${K8S_VERSION} \
            --timeout=120m | tee $LOG_DIR/e2e.log

    - name: Login dockerhub
      shell: docker login -u {{ dockerhub.username }} -p {{ dockerhub.password }}
      no_log: yes

    - name: Run image build and publish for cloud-provider-openstack
      shell:
        cmd: |
          if [ '{{ zuul.pipeline }}' == 'periodic-14' ] && [ '{{ zuul.branch }}' == 'master' ]; then
            set -ex
            set -o pipefail
            export LOG_DIR='{{ k8s_log_dir }}'
            export REGISTRY=${REGISTRY:-docker.io/k8scloudprovider}
            export ARCHS=${ARCHS:-amd64}
            export VERSION=${VERSION:-latest}
            make upload-images 2>&1 | tee $LOG_DIR/image-build-upload.log
          else
            exit 0;
          fi
        executable: /bin/bash
        chdir: '{{ k8s_os_provider_src_dir }}'
      environment: '{{ global_env }}'

- hosts: k8s-master
  name: Upload conformance test result
  become: yes

  roles:
    - export-gcp-account

  tasks:
    - name: Upload E2E conformance test result to kubernetes testgrid
      environment: '{{ global_env }}'
      shell:
        executable: /bin/bash
        cmd: |
          set -e
          set -x

          # install gsutil, upload_e2e.py depends on it
          export CLOUD_SDK_REPO="cloud-sdk-$(lsb_release -c -s)"
          echo "deb http://packages.cloud.google.com/apt $CLOUD_SDK_REPO main" | tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
          curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add
          apt-get update && sudo apt-get install google-cloud-sdk --yes
          apt-get install google-cloud-sdk-app-engine-java --yes

          # get upload_e2e.py
          wget https://raw.githubusercontent.com/kubernetes/test-infra/master/testgrid/conformance/upload_e2e.py

          # TODO(RuiChen): Add timestamp for e2e.log in order to workaround upload_e2e.py bug
          export LOG_DIR='{{ k8s_log_dir }}'
          date  +"%b %e %H:%M:%S.999: DONE" >> $LOG_DIR/e2e.log
          PIPELINE_LOGS_DIR='periodic-logs'
          if [ '{{ zuul.pipeline }}' != 'periodic-14' ]; then
              PIPELINE_LOGS_DIR='pr-logs'
          fi

          # upload e2e log to google storage
          python3 upload_e2e.py --junit=$LOG_DIR/junit*.xml --log=$LOG_DIR/e2e.log \
              --bucket=gs://k8s-conformance-openstack/$PIPELINE_LOGS_DIR/ci-'{{ zuul.job }}' \
              --key-file='{{ hostvars[inventory_hostname]["gcp_key_file"] }}'
