# We can install specify version ruby in task, like this:
#- roles:
#  - role: config-ruby
#      ruby_version: '2.5.1'
---
- name: Install rbenv dependences
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - git
    - curl
    - libssl-dev
    - libreadline-dev
    - zlib1g-dev
    - autoconf
    - bison
    - build-essential
    - libyaml-dev
    - libreadline-dev
    - libncurses5-dev
    - libffi-dev
    - libgdbm-dev

- name: Install rbenv and Ruby
  shell: |
    set -ex
    curl -sL https://github.com/rbenv/rbenv-installer/raw/master/bin/rbenv-installer | bash - || true
    echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bash_profile
    echo 'eval "$(rbenv init -)"' >> ~/.bash_profile
    source ~/.bash_profile
    rbenv install "{{ ruby_version }}"
    rbenv global "{{ ruby_version }}"
    ruby -v
  args:
    executable: /bin/bash
    chdir: '{{ zuul.project.src_dir }}'
