- hosts: all
  become: yes
  tasks:
    - name: Clean up resources for cinder standalone acceptance tests
      shell:
        cmd: |
          set -e
          set -x
          '{{ kubectl }}' config use-context local
          '{{ kubectl }}' delete -f examples/persistent-volume-provisioning/cinder/cinder-full.yaml
        executable: /bin/bash
        chdir: '{{ k8s_os_provider_src_dir }}'
      environment: '{{ golang_env }}'
