---
- hosts: all
  become: yes
    - role: config-golang
      go_version: 1.12
    - role: install-docker-ce
      arch: arm64
    - role: andrewrothstein.bazel
      bazel_ver: '0.23.1'

  tasks:
    - name: git required repositories
      shell:
        cmd: |
          go get sigs.k8s.io/kind
          go get k8s.io/kubeadm
          go get k8s.io/kubernetes
          go get k8s.io/test-infra/kubetest
        executable: /bin/bash
      environment: '{{ global_env }}'
    - name: build KIND against k/k master using bazel
      shell:
        cmd: |
          cd $GOPATH/src/sigs.k8s.io/kind && go install .
          kind build base-image --image kindest/base:latest --source $GOPATH/src/sigs.k8s.io/kind/images/base --loglevel debug
        executable: /bin/bash
      environment: '{{ global_env }}'

    - name: run with kubetest
      shell:
        cmd: |
          cd $GOPATH/src/k8s.io/test-infra/kubetest && go install .
          cd $GOPATH/src/k8s.io/kubernetes && kubetest \
            --provider=skeleton \
            --deployment=kind \
            --kind-binary-version=build \
            --kind-base-image="kindest/base:latest" \
            --kind-config-path=./../../k8s.io/kubeadm/tests/e2e/kind/single-cp/single-cp.yaml \
            --build=bazel \
            --up \
            --test \
            --check-version-skew=false \
            --down \
            --test_args="--ginkgo.focus=\[Conformance\] --ginkgo.skip=\[Serial\]|Alpha|Kubectl|\[(Disruptive|Feature:[^\]]+|Flaky)\] --num-nodes=3" \
            --timeout=120m
        executable: /bin/bash
      environment: '{{ global_env }}'
