- hosts: all
  become: yes
  pre_tasks:
    - shell:
        cmd: |
          set -e
          set -x
          cat << EOF >> /tmp/dg-local.conf
          [[local|localrc]]
          ETCD_DOWNLOAD_URL=https://github.com/coreos/etcd/releases/download
          ETCD_VERSION=v3.3.0
          ETCD_SHA256=d91efb17ab0813039e24863a1af154b153d4b1a009181d6faa18e8ab681676dc
          NETWORK_GATEWAY=10.0.0.1
          enable_plugin octavia https://git.openstack.org/openstack/octavia
          enable_plugin barbican https://git.openstack.org/openstack/barbican
          enable_plugin openstack-cloud-controller-manager https://github.com/dims/openstack-cloud-controller-manager
          EOF

          add-apt-repository ppa:masterminds/glide -y
          apt-get update -y
          apt-get install glide -y
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ golang_env }}'
  roles:
    - clone-devstack-gate-to-workspace
    - role: install-devstack
      environment:
        OVERRIDE_ENABLED_SERVICES: 'c-api,c-bak,c-sch,c-vol,cinder,dstat,etcd3,g-api,g-reg,key,mysql,n-api,n-api-meta,n-cauth,n-cond,n-cpu,n-novnc,n-obj,n-sch,peakmem_tracker,placement-api,q-agt,q-dhcp,q-l3,q-meta,q-metering,q-svc,rabbit,octavia,o-cw,o-hm,o-hk,o-api'
        PROJECTS: "openstack/barbican openstack/python-barbicanclient dims/openstack-cloud-controller-manager"
  tasks:
    - shell:
        cmd: |
          set -e
          set -x
          set -o pipefail
          source /opt/stack/new/devstack/openrc admin admin
          TESTARGS='-v' make test 2>&1 | tee $TEST_RESULTS_TXT
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ golang_env }}'
