- hosts: k8s-master
  become: yes
  roles:
    - role: deploy-k8s-cluster-with-kubeadm
      k8s_role_to_deploy:
        - master
  tasks:
    - name: get kubeadm join command
      shell: kubeadm token create --print-join-command
      register: kubeadm_join_cmd

- hosts: k8s-nodes
  become: yes
  roles:
    - role: deploy-k8s-cluster-with-kubeadm
      k8s_role_to_deploy:
        - node
      kubeadm_join_cmd: "{{ hostvars['k8s-master']['kubeadm_join_cmd']['stdout'] }}"

- hosts: k8s-master
  become: yes
  roles:
    - config-golang
  tasks:
    - name: Debug volcano
      shell: |
        set -ex
        sleep 1000000
        go get -u github.com/volcano-sh/volcano
        cd $GOPATH/src/github.com/volcano.sh/volcano
        make images
        docker images
        curl -L https://git.io/get_helm.sh | bash
        helm init
        helm version
        kubectl -n kube-system get pods

      args:
        executable: /bin/bash
        chdir: '{{ ansible_user_dir }}/workspace'
      environment: '{{ global_env }}'
