- name: Install libpcre3-dev
  shell: |
    apt install libpcre3-dev -y
  ignore_errors: yes

- name: install devstack on {{ os_branch }} branch
  shell:
    cmd: |
      set -e
      set -x
      export PYTHONUNBUFFERED=true
      export GIT_BASE=https://github.com
      export OVERRIDE_ZUUL_BRANCH='{{ os_branch }}'
      export DEVSTACK_GATE_NEUTRON=1
      export DEVSTACK_GATE_FIXED_RANGE=10.0.0.0/20
      export PROJECTS="openstack/designate $PROJECTS"
      export PROJECTS="openstack/python-manilaclient $PROJECTS"
      export PROJECTS="openstack/barbican openstack/python-barbicanclient $PROJECTS"

      cp devstack-gate/devstack-vm-gate-wrap.sh ./safe-devstack-vm-gate-wrap.sh
      ./safe-devstack-vm-gate-wrap.sh
    executable: /bin/bash
    chdir: '{{ ansible_user_dir }}/workspace'
  environment: '{{ zuul | zuul_legacy_vars }}'
