- hosts: all
  become: no
  tasks:
    - name: Building and running tests of Impala
      shell: |
        set -o pipefail
        set -ex
        
        # disable apt-daily service to avoid apt conflict
        sudo  systemctl  mask apt-daily.service apt-daily-upgrade.service 
        sudo systemctl  disable apt-daily.service apt-daily-upgrade.service 
        sudo systemctl  disable apt-daily.timer apt-daily-upgrade.timer
        
        result_dir="{{ ansible_user_dir }}/workspace/test_results/"
        mkdir -p "$result_dir"
        
        export IMPALA_HOME=`pwd`

        # we move native-toolchain from ~/ to IMPALA_HOME/..
        mv ~/native-toolchain $IMPALA_HOME/..

        RET_CODE=0
        if ! bin/bootstrap_development.sh; then
          RET_CODE=1
        fi
        cp -r $IMPALA_HOME/../native-toolchain/check "$result_dir"
  
        exit $RET_CODE
        
        if ! bin/run-all-tests.sh; then
          RET_CODE=1
        fi

        exit $RET_CODE
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
