{
    "url": "http://localhost:3000",
    "apiVersion": "2.13",
    "user": "{{ broker_username }}",
    "password": "{{ broker_password }}",
    "authentication": "basic",
    "provisions": [
        {
            "instance_id": "",
            "body": {
                "plan_id": "fc1b0ebf-aabf-4ab1-87e9-83544a5902e8",
                "service_id": "275f3e0b-86fd-4303-946c-171374d29150",
                "parameters": {
                    "name": "testrdsmysql",
                    "database_password": "Mysql1234!"
                },
                "organization_guid": "organization_id",
                "space_guid": "space_id"
            },
            "scenario": "new",
            "notes": "RDS MySQL Service",
            "async": true
        }
    ],
    "updates": [
        {
            "instance_id": "",
            "body": {
                "service_id": "275f3e0b-86fd-4303-946c-171374d29150",
                "plan_id": "fc1b0ebf-aabf-4ab1-87e9-83544a5902e8",
                "parameters": {
                    "volume_size": 400
                },
                "previous_values": {
                    "plan_id": "fc1b0ebf-aabf-4ab1-87e9-83544a5902e8",
                    "service_id": "275f3e0b-86fd-4303-946c-171374d29150",
                    "organization_id": "organization_id",
                    "space_id": "space_id"
                }
            },
            "scenario": "update",
            "async": true
        }
    ],
    "bindings": [
        {
            "body": {
                "service_id":"275f3e0b-86fd-4303-946c-171374d29150",
                "plan_id":"fc1b0ebf-aabf-4ab1-87e9-83544a5902e8"
            },
            "async": true,
            "scenario": "new"
        },
        {
            "body": {
                "service_id":"275f3e0b-86fd-4303-946c-171374d29150",
                "plan_id":"fc1b0ebf-aabf-4ab1-87e9-83544a5902e8"
            },
            "async": true,
            "scenario": "delete"
        }
    ]
}
