{
    "url": "http://localhost:3000",
    "apiVersion": "2.13",
    "user": "{{ broker_username }}",
    "password": "{{ broker_password }}",
    "authentication": "basic",
    "pollingInterval": 10,
    "maxPollingNum": 50,
    "cases": [
        {
            "name": "RDS SQLServer Service",
            "service_id" :"275f3e0b-86fd-4303-946c-171374d29150",
            "organization_guid": "organization_id",
            "space_guid": "space_id",
            "lifecycle": [
                {
                    "operation": "provision",
                    "plan_id": "839f4458-309a-4e05-a069-807e950cf6da",
                    "async": true,
                    "parameters": {
                        "name": "osb-checker-rds-mysql-{{ name_uuid }}",
                        "database_password": "Password1234!"

                    }
                },
                {
                    "operation": "update",
                    "plan_id": "839f4458-309a-4e05-a069-807e950cf6da",
                    "async": true,
                    "parameters": {
                        "volume_size": 200
                    }
                },
                {
                    "operation": "bind",
                    "parameters": {
                        "service_id": "275f3e0b-86fd-4303-946c-171374d29150",
                        "plan_id": "839f4458-309a-4e05-a069-807e950cf6da"
                    }
                },
                {
                    "operation": "unbind"
                },
                {
                    "operation": "deprovision",
                    "async": true
                }
            ]
        }
    ],
    "conflictiveProvision": {
        "service_id" :"275f3e0b-86fd-4303-946c-171374d29150",
        "plan_id": "839f4458-309a-4e05-a069-807e950cf6da",
        "async": true,
        "parameters": {
            "name": "osb-checker-rds-mysql-conflict-{{ name_uuid }}",
            "database_password": "Password1234!"
        }
    }
}
