{
    "url": "http://localhost:3000",
    "apiVersion": "2.13",
    "user": "{{ broker_username }}",
    "password": "{{ broker_password }}",
    "authentication": "basic",
    "cases": [
        {
            "name": "Object Storage Service Test",
            "service_id" :"94e8ffdf-bf9c-422f-b73c-776a3ca69f35",
            "organization_guid": "organization_id",
            "space_guid": "space_id",
            "lifecycle": [
                {
                    "operation": "provision",
                    "plan_id": "df0312bf-8189-4482-826e-2370a7f4d805",
                    "async": false,
                    "parameters": {
                        "bucket_name": "osb-checker-obs-{{ name_uuid }}",
                        "bucket_policy": "public-read-write"

                    }
                },
                {
                    "operation": "update",
                    "plan_id": "df0312bf-8189-4482-826e-2370a7f4d805",
                    "async": false,
                    "parameters": {
                        "bucket_policy": "private",
                        "status": "Enabled"
                    }
                },
                {
                    "operation": "bind",
                    "parameters": {
                        "service_id": "94e8ffdf-bf9c-422f-b73c-776a3ca69f35",
                        "plan_id": "df0312bf-8189-4482-826e-2370a7f4d805"
                    }
                },
                {
                    "operation": "unbind"
                },
                {
                    "operation": "deprovision",
                    "async": false
                }
            ]
        }
    ],
    "conflictiveProvision": {
        "service_id" :"94e8ffdf-bf9c-422f-b73c-776a3ca69f35",
        "plan_id": "df0312bf-8189-4482-826e-2370a7f4d805",
        "async": true,
        "parameters": {
            "bucket_name": "osb-checker-obs-conflict-{{ name_uuid }}",
            "bucket_policy": "public-read-write"
        }
    }
}
