{
    "url": "http://localhost:3000",
    "apiVersion": "2.13",
    "user": "{{ broker_username }}",
    "password": "{{ broker_password }}",
    "authentication": "basic",
    "pollingInterval": 10,
    "maxPollingNum": 50,
    "cases": [
        {
            "name": "Redis Single Node Test",
            "service_id" :"45d162e1-cf1e-455c-beff-cc0765d9a377",
            "organization_guid": "organization_id",
            "space_guid": "space_id",
            "lifecycle": [
                {
                    "operation": "provision",
                    "plan_id": "d54d393b-f5ce-4eb7-86be-49da00606368",
                    "async": true,
                    "parameters": {
                        "username": "username",
                        "password": "Password1234!",
                        "name": "osb-checker-dcs-redis-{{ name_uuid }}",
                        "description": "Redis Single Node Test"

                    }
                },
                {
                    "operation": "update",
                    "plan_id": "d54d393b-f5ce-4eb7-86be-49da00606368",
                    "async": true,
                    "parameters": {
                        "name": "osb-checker-dcs-redis-updated-{{ name_uuid }}",
                        "description": "Redis Single Node Test1",
                        "old_password": "Password1234!",
                        "new_password": "Password1234$"
                    }
                },
                {
                    "operation": "bind",
                    "parameters": {
                        "service_id": "45d162e1-cf1e-455c-beff-cc0765d9a377",
                        "plan_id": "d54d393b-f5ce-4eb7-86be-49da00606368"
                    }
                },
                {
                    "operation": "unbind"
                },
                {
                    "operation": "deprovision",
                    "async": true
                }
            ]
        }
    ],
    "conflictiveProvision": {
        "service_id" :"45d162e1-cf1e-455c-beff-cc0765d9a377",
        "plan_id": "d54d393b-f5ce-4eb7-86be-49da00606368",
        "async": true,
        "parameters": {
            "name": "osb-checker-dcs-redis-{{ name_uuid }}",
            "username": "username",
            "password": "Password1234!",
            "description": "Redis Single Node Test"
        }
    }
}
