- hosts: all
  become: yes
  roles:
    - clone-devstack-gate-to-workspace
    - role: export-cloud-openrc
      vars:
        cloud_name: '{{ cloud_name }}'
    - ensure-tox
    - role: tox
      vars:
        tox_install_siblings: true
        zuul_work_dir: '{{ ansible_user_dir }}/{{ (zuul.projects.values() | selectattr("short_name", "equalto", os_sdk) | list)[0].src_dir }}'
        tox_envlist: ansible
      environment: '{{ global_env }}'
