- hosts: all
  become: yes
  tasks:
    - name: Run ansible zuul job check tests for openlab-zuul-jobs
      shell:
        cmd: |
          set -e
          set -o pipefail
          set -x
          pip install ansible-lint
          find playbooks -type f -regex '.*.y[a]?ml' -not -path "{{ excluded_path }}" -print0 | xargs -t -n1 -0 ansible-lint -xANSIBLE0012 || true
          find playbooks -type f -regex '.*.y[a]?ml' -not -path "{{ excluded_path }}" -exec ansible-playbook -v --syntax-check -i ./playbooks/openlab-zuul-jobs-check/inventory \{\} + > /dev/null
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment:
        ANSIBLE_ROLES_PATH: '{{ ansible_user_dir }}/src/github.com/theopenlab/openlab-zuul-jobs/roles:{{ ansible_user_dir }}/src/github.com/theopenlab/zuul-jobs/roles:{{ ansible_user_dir }}/src/github.com/theopenlab/project-config/roles'
