- hosts: all
  tasks:
    - name: Install the necessary libraries via apt
      become: true
      shell: |
        apt-get update
        apt-get install -y --no-install-recommends \
        build-essential \
        ccache \
        libevent-dev \
        libapr1-dev \
        libffi-dev \
        libssl-dev \
        git \
        python-pip \
        python-dev \
        gcc \
        libsodium-dev \
        libcurl4-openssl-dev \
        libzstd1-dev \
        libldap2-dev \
        flex \
        libbz2-dev \
        bison \
        libpq-dev \
        postgresql-server-dev-all \
        postgresql-common \
        libyaml-dev \
        zlib1g \
        zlib1g-dev \
        sudo \
        vim \
        net-tools \
        less \
        iputils-ping \
        iproute2 \
        ssh \
        locales \
        locales-all \
        wget \
        rsync \
        perl \
        libperl-dev
      args:
        executable: /bin/bash

    - name: Localdef change
      become: true
      shell: |
        localedef -i en_US -f UTF-8 en_US.UTF-8
      args:
        executable: /bin/bash

    - name: Fix local env to make sure the demo cluster can setup
      become: true
      shell: |
        set -xeo pipefail
        ## Fix the issue during startup the demo cluster like
        # psql: FATAL:  semctl(17530881, 14, SETVAL, 0) failed: Invalid argument (pg_sema.c:151)
        echo "RemoveIPC=no" >> /etc/systemd/logind.conf
        service systemd-logind restart
        ## Fix resolv.conf via /etc/hosts
        # add 'local_ip ubuntu' to /etc/hosts in a new line
        local_ip=`ifconfig -a|grep inet|grep -v 127.0.0.1|grep -v inet6|awk '{print $2}'|tr -d "addr:"`
        echo "${local_ip} ubuntu" > /etc/hosts
        echo "127.0.0.1 localhost" >> /etc/hosts
        cat /etc/hosts
        ## Flush any iptables as much as possible
        iptables -F
        iptables -F -t nat
      args:
        executable: /bin/bash

    - name: Create results directory
      file:
        path: "{{ ansible_user_dir }}/workspace/test_results"
        state: directory

    - name: Install pip deps
      shell: |
        export SODIUM_INSTALL=system
        pip install setuptools
        pip install wheel
        pip install --user "pyopenssl>=19.0.0"
        pip install --user --pre psutil
        pip install --user lockfile
        pip install --no-binary :all: pynacl
        pip install --user paramiko || true
      args:
        executable: /bin/bash

    - name: Git clone the repo with shorter directory
      shell:
        git clone https://github.com/greenplum-db/gpdb.git
      args:
        executable: /bin/bash
        chdir: /home/zuul

    - name: Install GSSAPI deps
      shell: |
        export DEBIAN_FRONTEND=noninteractive
        sudo DEBIAN_FRONTEND=noninteractive apt update
        sudo DEBIAN_FRONTEND=noninteractive apt install krb5-kdc krb5-admin-server libkrb5-dev -y
      args:
        executable: /bin/bash

    - name: Compile and install gpdb
      shell: |
        ./configure --with-openssl --with-ldap --with-libcurl --prefix="/home/zuul/gpdb/gpsql" --disable-orca --disable-gpcloud --disable-pxf --without-readline --with-python --with-gssapi  --enable-orafce --enable-mapreduce --with-perl
        make
        make install
      args:
        executable: /bin/bash
        chdir: /home/zuul/gpdb

    - name: Compile and install the external functions of gpdb
      shell: |
        git config --global user.email "you@example.com"
        git config --global user.name "Your Name"
        wget https://patch-diff.githubusercontent.com/raw/greenplum-db/gpdb/pull/9834.patch
        git am ./9834.patch
        make -C contrib/ install
        make -C gpcontrib/ install
      args:
        executable: /bin/bash
        chdir: /home/zuul/gpdb

    - name: Check the installed apps
      shell: |
        source gpsql/greenplum_path.sh
        postgres --version
        initdb --version
        createdb --version
        psql --version
        gpssh --version
        gpmapreduce --version
        gpfdist --version
      args:
        executable: /bin/bash
        chdir: /home/zuul/gpdb

    - name: First run the unittest-check will fail
      shell: |
        source gpsql/greenplum_path.sh
        make -s unittest-check || exit 0
      args:
        executable: /bin/bash
        chdir: /home/zuul/gpdb

    - name: Try the best to run the unittest-check with fixes
      shell: |
        set -xeo pipefail
        cat src/test/unit/mock/backend/libpq/pqexpbuffer_mock.c | grep -v 'check_expected(args);' > src/test/unit/mock/backend/libpq/pqexpbuffer_mock.c_new
        mv src/test/unit/mock/backend/libpq/pqexpbuffer_mock.c_new src/test/unit/mock/backend/libpq/pqexpbuffer_mock.c
        make -s unittest-check
      args:
        executable: /bin/bash
        chdir: /home/zuul/gpdb

    - name: Setup demo cluster and run installcheck-world tests
      shell: |
        set -xeo pipefail
        source gpsql/greenplum_path.sh
        export USER='zuul'
        export PGUSER=zuul
        sudo service ssh start
        ulimit -n 65535
        make -C gpAux/gpdemo cluster | tee "{{ ansible_user_dir }}/workspace/test_results/cluster-launch.log"
        source gpAux/gpdemo/gpdemo-env.sh
        make installcheck-world | tee "{{ ansible_user_dir }}/workspace/test_results/installcheck-world.log"
      args:
        executable: /bin/bash
        chdir: /home/zuul/gpdb

    - name: Copy result into result dir
      shell: |
        cp -rf ~/gpAdminLogs "{{ ansible_user_dir }}/workspace/test_results/"
        cp -rf /home/zuul/gpdb/gpAux/gpdemo/datadirs "{{ ansible_user_dir }}/workspace/test_results/"
      args:
        executable: /bin/bash
