- hosts: all
  become: yes
  tasks:
    - name: clean up iptable rules
      shell: iptables -F

    - name: Use huaweicloud repo
      shell: wget -O /etc/apt/sources.list https://repo.huaweicloud.com/repository/conf/Ubuntu-Ports-xenial.list && apt update

- hosts: all
  become: yes
  roles:
    - role: install-openjdk
      java_version: '8'
      with_scala: true
      scala_version: '2.11.0'
    - role: install-maven
      maven_version: '3.2.5'
