# NOTE: elasticsearch can't be ran under root.
- hosts: all
  become: no
  tasks:
    - name: Create temp branch
      shell:
        cmd: |
          git checkout -b e2e-test-arm
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    - name: Add git author info
      shell:
        cmd: |
          git config --global user.email "info@openlabtesting.org"
          git config --global user.name "OpenLab"
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    # TODO(wxy): Should fix in apache/flink
    - name: ARM hack changes
      shell:
        cmd: |
          set -xo pipefail

          cat << EOF >> arm_hack.patch
          From af7a1487dbfed257dcea0c89b528051e917afda3 Mon Sep 17 00:00:00 2001
          From: wangxiyuan <wangxiyuan@huawei.com>
          Date: Thu, 19 Sep 2019 15:20:51 +0800
          Subject: [PATCH] ARM Related Hack

          ---
           .../prometheus/tests/PrometheusReporterEndToEndITCase.java        | 2 +-
           flink-end-to-end-tests/test-scripts/elasticsearch-common.sh       | 8 +++++---
           flink-end-to-end-tests/test-scripts/test_sql_client.sh            | 2 +-
           .../test-scripts/test_streaming_elasticsearch.sh                  | 2 +-
           tools/travis/nightly.sh                                           | 4 ++--
           5 files changed, 10 insertions(+), 8 deletions(-)

          diff --git a/flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/src/test/java/org/apache/flink/metrics/prometheus/tests/PrometheusReporterEndToEndITCase.java b/flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/src/test/java/org/apache/flink/metrics/prometheus/tests/PrometheusReporterEndToEndITCase.java
          index 258d293..eb3d635 100644
          --- a/flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/src/test/java/org/apache/flink/metrics/prometheus/tests/PrometheusReporterEndToEndITCase.java
          +++ b/flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/src/test/java/org/apache/flink/metrics/prometheus/tests/PrometheusReporterEndToEndITCase.java
          @@ -73,7 +73,7 @@ public class PrometheusReporterEndToEndITCase extends TestLogger {
                          PROMETHEUS_FILE_NAME = base + "windows-amd64";
                          break;
                      default:
          -				PROMETHEUS_FILE_NAME = base + "linux-amd64";
          +				PROMETHEUS_FILE_NAME = base + "linux-arm64";
                          break;
                  }
              }
          diff --git a/flink-end-to-end-tests/test-scripts/elasticsearch-common.sh b/flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
          index 6959052..9c9c367 100644
          --- a/flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
          +++ b/flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
          @@ -26,15 +26,17 @@ function setup_elasticsearch {
               mkdir -p \$TEST_DATA_DIR

               local downloadUrl=\$1
          -
          +    local elasticsearch_version=\${2-0}
               # start downloading Elasticsearch
               echo "Downloading Elasticsearch from \$downloadUrl ..."
          -    curl "\$downloadUrl" > \$TEST_DATA_DIR/elasticsearch.tar.gz
          +    curl --insecure "\$downloadUrl" > \$TEST_DATA_DIR/elasticsearch.tar.gz

               local elasticsearchDir=\$TEST_DATA_DIR/elasticsearch
               mkdir -p \$elasticsearchDir
               tar xzf \$TEST_DATA_DIR/elasticsearch.tar.gz -C \$elasticsearchDir --strip-components=1
          -
          +    if [ \$elasticsearch_version -ge 6 ]; then
          +      echo xpack.ml.enabled: false >> \$elasticsearchDir/config/elasticsearch.yml
          +    fi
               # start Elasticsearch cluster
               \$elasticsearchDir/bin/elasticsearch &
           }
          diff --git a/flink-end-to-end-tests/test-scripts/test_sql_client.sh b/flink-end-to-end-tests/test-scripts/test_sql_client.sh
          index 5798545..262817e 100755
          --- a/flink-end-to-end-tests/test-scripts/test_sql_client.sh
          +++ b/flink-end-to-end-tests/test-scripts/test_sql_client.sh
          @@ -101,7 +101,7 @@ echo "Preparing Elasticsearch..."
           ELASTICSEARCH_VERSION=6
           DOWNLOAD_URL='https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.3.1.tar.gz'

          -setup_elasticsearch \$DOWNLOAD_URL
          +setup_elasticsearch \$DOWNLOAD_URL \$ELASTICSEARCH_VERSION
           wait_elasticsearch_working

           ################################################################################
          diff --git a/flink-end-to-end-tests/test-scripts/test_streaming_elasticsearch.sh b/flink-end-to-end-tests/test-scripts/test_streaming_elasticsearch.sh
          index f37ee73..e2ee273 100755
          --- a/flink-end-to-end-tests/test-scripts/test_streaming_elasticsearch.sh
          +++ b/flink-end-to-end-tests/test-scripts/test_streaming_elasticsearch.sh
          @@ -25,7 +25,7 @@ DOWNLOAD_URL=\$2

           mkdir -p \$TEST_DATA_DIR

          -setup_elasticsearch \$DOWNLOAD_URL
          +setup_elasticsearch \$DOWNLOAD_URL \$ELASTICSEARCH_VERSION
           wait_elasticsearch_working

           start_cluster
          diff --git a/tools/travis/nightly.sh b/tools/travis/nightly.sh
          index 0fb918e..5e75e8c 100755
          --- a/tools/travis/nightly.sh
          +++ b/tools/travis/nightly.sh
          @@ -27,8 +27,8 @@ fi

           SCRIPT=\$1

          -source \${HERE}/setup_docker.sh
          -source \${HERE}/setup_kubernetes.sh
          +# source \${HERE}/setup_docker.sh
          +# source \${HERE}/setup_kubernetes.sh

           ARTIFACTS_DIR="\${HERE}/artifacts"

          --
          2.7.4
          EOF

          git am arm_hack.patch
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    - name: Run split_misc.sh e2e test
      shell:
        cmd: |
          set -xo pipefail
          export PROFILE="-Dinclude-hadoop -Dhadoop.version=2.8.3 -De2e-metrics"

          ./tools/travis/nightly.sh split_misc.sh
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    - name: Run split_misc_hadoopfree.sh e2e test
      shell:
        cmd: |
          set -xo pipefail
          export PROFILE="-De2e-metrics"

          ./tools/travis/nightly.sh split_misc_hadoopfree.sh
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'
