- import_playbook: common.yaml

- hosts: all
  become: yes
  tasks:
    - name: Install requirements
      shell:
        cmd: |
          apt install bsdmainutils
      args:
        executable: /bin/bash

# NOTE: elasticsearch can't be ran under root.
- hosts: all
  become: no
  tasks:
    # Todo(wxy): Frocksdb doesn't have ARM release. Build and install it locally currently.
    - name: Build and install frocksdb
      shell:
        cmd: |
          git clone https://github.com/dataArtisans/frocksdb.git
          cd frocksdb
          git checkout origin/FRocksDB-5.17.2
          sudo apt update
          sudo apt install -y gcc g++ make
          export DEBUG_LEVEL=0
          make -j8 rocksdbjavastatic

          mvn install:install-file -DgroupId=com.data-artisans \
          -DartifactId=frocksdbjni -Dversion=5.17.2-artisans-2.0 \
          -Dpackaging=jar -Dfile=java/target/rocksdbjni-5.17.2-linux64.jar
      args:
        executable: /bin/bash
        chdir: '/home/zuul'
      environment: '{{ global_env }}'

    - name: Get the fix PR
      shell:
        cmd: |
          git config --global user.email "info@openlabtesting.org"
          git config --global user.name "OpenLab"
          git remote add upstream http://github.com/apache/flink
          git fetch upstream refs/pull/9768/head:pr_9768
          git checkout pr_9768
          git rebase master
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    - name: Comment out docker installation
      lineinfile:
        path: "/home/zuul/src/github.com/apache/flink/tools/travis/nightly.sh"
        regexp: "^.*setup_docker.sh"
        line: "# source ${HERE}/setup_docker.sh"

    - name: Run split_misc.sh e2e test
      shell:
        cmd: |
          set -xo pipefail
          export PROFILE="-Dinclude-hadoop -Dhadoop.version=2.8.3 -De2e-metrics"

          sourece ./tools/ci/maven-utils.sh

          ./tools/travis/nightly.sh split_misc.sh
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    - name: Run split_misc_hadoopfree.sh e2e test
      shell:
        cmd: |
          set -xo pipefail
          export PROFILE="-De2e-metrics"

          sourece ./tools/ci/maven-utils.sh

          ./tools/travis/nightly.sh split_misc_hadoopfree.sh
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'
