- import_playbook: common.yaml

- hosts: all
  become: yes
  tasks:
    # Todo(wxy): Frocksdb doesn't have ARM release. Build and install it locally currently.
    - name: Build and install frocksdb
      shell:
        cmd: |
          git clone https://github.com/dataArtisans/frocksdb.git
          cd frocksdb
          git checkout origin/FRocksDB-5.17.2
          sudo apt update
          sudo apt install -y gcc g++ make
          export DEBUG_LEVEL=0
          make -j8 rocksdbjava

          mvn install:install-file -DgroupId=com.data-artisans \
          -DartifactId=frocksdbjni -Dversion=5.17.2-artisans-1.0 \
          -Dpackaging=jar -Dfile=java/target/rocksdbjni-5.17.2-linux64.jar
      args:
        executable: /bin/bash
        chdir: '/opt'
      environment: '{{ global_env }}'

    - name: Get the fix PR
      shell:
        cmd: |
          git config --global user.email "info@openlabtesting.org"
          git config --global user.name "OpenLab"
          git fetch origin pull/9782/head:pr_9782
          git checkout pr_9782
          git rebase master
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    - name: Run split_container.sh e2e test
      shell:
        cmd: |
          set -xo pipefail
          export PROFILE="-Dinclude-hadoop -Dhadoop.version=2.8.3"

          ./tools/travis/nightly.sh split_container.sh
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'
