- import_playbook: common.yaml

- hosts: all
  become: no
  tasks:
    - name: Build Flink
      shell:
        cmd: |
          mvn clean install -B -DskipTests -Dinclude_hadoop_aws -Dhadoop.version=3.1.3 -Phadoop3-tests
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    - name: Login SWR
      shell: docker login -u ap-southeast-3@{{ swr.ak }} -p {{ swr.sk }} swr.ap-southeast-3.myhuaweicloud.com
      no_log: yes

    - name: Run e2e test - hadoop313
      shell:
        cmd: |
          set -xo pipefail
          sudo iptables -P FORWARD ACCEPT
          PROFILE="-Dinclude_hadoop_aws -Dhadoop.version=3.1.3 -Phadoop3-tests" FLINK_DIR=`pwd`/build-target flink-end-to-end-tests/run-nightly-tests.sh
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'
