- hosts: all
  become: yes
  tasks:
    - name: clean up iptable rules
      shell: iptables -F

    - name: Install Pre requirements
      shell:
        cmd: |
          curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
          python3 get-pip.py
          apt install -y openssl libssl-dev libffi-dev python-dev python3-dev libevent-dev

    - name: Refresh resolv.conf
      shell: dhclient

- hosts: all
  become: yes
  roles:
    - role: install_openjdk
      java_version: '8'
      with_scala: true
      scala_version: '2.12.0'
    - role: install_maven
      maven_version: '3.2.5'
  tasks:
    - name: Install docker compose
      shell:
        cmd: |
          pip install -U pip=22.2.1
          pip install -U setuptools==49.0.0
          pip install docker-compose

- hosts: all
  become: no
  tasks:
    # Todo(wxy): Frocksdb doesn't have ARM release. Install it locally currently.
    - name: Install frocksdb
      shell:
        cmd: |
          wget https://github.com/wangxiyuan/Toy/raw/master/package/rocksdbjni-5.17.2-linux64.jar

          mvn install:install-file -DgroupId=com.data-artisans \
          -DartifactId=frocksdbjni -Dversion=5.17.2-artisans-2.0 \
          -Dpackaging=jar -Dfile=./rocksdbjni-5.17.2-linux64.jar
      args:
        executable: /bin/bash
        chdir: '/home/zuul'
      environment: '{{ global_env }}'

    - name: Build Flink
      shell:
        cmd: |
          mvn clean install -B -DskipTests -Dhadoop.version=2.8.3 -Dinclude_hadoop_aws -Dscala-2.12 -Phive-1.2.1
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    - name: Hack - Use arm64 docker image
      shell:
         cmd: |
           # https://github.com/apache/flink-docker/pull/23
           sed -i 's/\/apache/\/wangxiyuan/' flink-end-to-end-tests/test-scripts/common_docker.sh
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    - name: Login SWR
      shell: docker login -u ap-southeast-3@{{ swr.ak }} -p {{ swr.sk }} swr.ap-southeast-3.myhuaweicloud.com
      no_log: yes

    - name: Run e2e test - scala212
      shell:
        cmd: |
          set -xo pipefail
          sudo iptables -P FORWARD ACCEPT
          PROFILE="-Dhadoop.version=2.8.3 -Dinclude_hadoop_aws -Dscala-2.12 -Phive-1.2.1" FLINK_DIR=`pwd`/build-target flink-end-to-end-tests/run-nightly-tests.sh
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'
