- hosts: all
  become: yes
  tasks:
    - name: Get Flink version
      xml:
        path: '{{ ansible_user_dir }}/src/github.com/apache/flink/pom.xml'
        xpath: /ns:project/ns:version
        namespaces:
          ns: http://maven.apache.org/POM/4.0.0
        content: text
      register: flink_version
    - name: Fetch e2e test log
      copy:
        src: "{{ ansible_user_dir }}/src/github.com/apache/flink/flink-dist/target/flink-{{ flink_version.matches[0]['{http://maven.apache.org/POM/4.0.0}version'] }}-bin/flink-{{ flink_version.matches[0]['{http://maven.apache.org/POM/4.0.0}version'] }}/log/"
        dest: '{{ ansible_user_dir }}/workspace/'
