- hosts: all
  become: yes
  tasks:
    - name: Install lxml
      shell: apt install python-lxml python3-lxml -y

    - name: Get Flink version
      xml:
        path: '{{ ansible_user_dir }}/src/github.com/apache/flink/pom.xml'
        xpath: /ns:project/ns:version
        namespaces:
          ns: http://maven.apache.org/POM/4.0.0
        content: text
      register: flink_version

    - name: Fetch e2e test log
      shell:
        cmd: |
          cp -r "flink-dist/target/flink-{{ flink_version.matches[0]['{http://maven.apache.org/POM/4.0.0}version'] }}-bin/flink-{{ flink_version.matches[0]['{http://maven.apache.org/POM/4.0.0}version'] }}/log/" "{{ ansible_user_dir }}/workspace/test_results/"
          rm "flink-dist/target/flink-{{ flink_version.matches[0]['{http://maven.apache.org/POM/4.0.0}version'] }}-bin/flink-{{ flink_version.matches[0]['{http://maven.apache.org/POM/4.0.0}version'] }}/log/*"
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      ignore_errors: yes

    - name: Remove temp branch and clean up temp file
      shell:
         cmd: |
           git checkout master
           git branch -D e2e-test-arm
           rm -rf flink-end-to-end-tests/test-scripts/temp-test-directory-*
           rm -rf /tmp
           mkdir /tmp
           chmod 777 /tmp
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      ignore_errors: yes

    - name: Get local hostname
      shell: hostname
      register: result

    - name: roll back host
      lineinfile:
        path: "/etc/hosts"
        regexp: "^127.0.0.1"
        line: "127.0.0.1 {{ result.stdout }} localhost"
