- hosts: all
  become: yes
  roles:
    - role: install-openjdk
      java_version: '8'
      with_scala: true
      scala_version: '2.11.0'
    - role: install-maven
      maven_version: '3.2.5'
  tasks:
    - name: Build and install frocksdb
      shell:
        cmd: |
          git clone https://github.com/dataArtisans/frocksdb.git
          cd frocksdb
          git checkout origin/FRocksDB-5.17.2
          apt update
          apt install -y gcc g++ make
          export DEBUG_LEVEL=0
          make -j8 rocksdbjava

          mvn install:install-file -DgroupId=com.data-artisans \
          -DartifactId=frocksdbjni -Dversion=5.17.2-artisans-1.0 \
          -Dpackaging=jar -Dfile=java/target/rocksdbjni-5.17.2-linux64.jar
      args:
        executable: /bin/bash
        chdir: '/opt'
      environment: '{{ global_env }}'

    - name: Comment out docker installation
      lineinfile:
        path: "/home/zuul/src/github.com/apache/flink/tools/travis/nightly.sh"
        regexp: "^.*setup_docker.sh"
        line: "# source ${HERE}/setup_docker.sh"

    - name: Comment out k8s installation
      lineinfile:
        path: "/home/zuul/src/github.com/apache/flink/tools/travis/nightly.sh"
        regexp: "^.*setup_kubernetes.sh"
        line: "# source ${HERE}/setup_kubernetes.sh"

    - name: Add git author info
      shell:
        cmd: |
          git config --global user.email "info@openlabtesting.org"
          git config --global user.name "OpenLab"
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'

    # Todo(wxy): maven shade plugin 3.2.1 doesn't work on ARM. Fix it in Flink
    - name: Bump maven shade plugin down to 3.0.0
      shell:
        cmd: |
          set -xo pipefail

          cat << EOF >> Fix_shade_version.patch
          From 82d9a339400da21e05eb0d601d3db55da08982ad Mon Sep 17 00:00:00 2001
          From: wangxiyuan <wangxiyuan@huawei.com>
          Date: Mon, 23 Sep 2019 10:21:34 +0800
          Subject: [PATCH] Patch maven shade plugin

          ---
           pom.xml | 2 +-
           1 file changed, 1 insertion(+), 1 deletion(-)

          diff --git a/pom.xml b/pom.xml
          index 5a8b598391..bb2133270b 100644
          --- a/pom.xml
          +++ b/pom.xml
          @@ -1685,7 +1685,7 @@ under the License.
           				<plugin>
           					<groupId>org.apache.maven.plugins</groupId>
           					<artifactId>maven-shade-plugin</artifactId>
          -					<version>3.2.1</version>
          +					<version>3.1.0</version>
           				</plugin>

           				<plugin>
          --
          2.21.0.windows.1
          EOF

          git am Fix_shade_version.patch
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      ignore_errors: yes
      environment: '{{ global_env }}'

    - name: Run split_heavy.sh e2e test
      shell:
        cmd: |
          set -xo pipefail

          iptables -F

          ./tools/travis/nightly.sh split_heavy.sh | tee split_heavy.log
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      ignore_errors: yes
      environment: '{{ global_env }}'

    - name: Run split_ha.sh e2e test
      shell:
        cmd: |
          set -xo pipefail

          ./tools/travis/nightly.sh split_ha.sh | tee split_ha.log
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      ignore_errors: yes
      environment: '{{ global_env }}'
