- name: build cloud-provider-openstack binary
  hosts: all
  become: yes
  roles:
    - install-k8s
  tasks:
    - shell:
        cmd: |
          set -x
          set -e

          # Install dependencies
          go get -u github.com/Masterminds/glide

          # Build cloud-provider-openstack binaries
          make build
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ golang_env }}'
