- name: Install java {{ java_version }}
  shell:
    cmd: |
      apt-get update
      apt-get install openjdk-{{ java_version }}-jdk -y
    executable: /bin/bash
  environment: '{{ global_env }}'

- name: Get host jvm path
  shell: echo $(dirname $(dirname $(update-alternatives --list javac)))
  register: real_java_home

- name: Set java env vars
  set_fact:
    java_env:
      JAVA_HOME: "{{ real_java_home.stdout }}"
      PATH: '{{ real_java_home.stdout }}/bin:{{ ansible_env.PATH }}'
  no_log: yes

- name: Merge java env vars into global env
  set_fact:
    global_env: '{{ global_env | combine(java_env) }}'
  no_log: yes

- name: Show installed java info
  shell: |
    set -ex
    which javac
    javac -version
  args:
    executable: /bin/bash
  environment: '{{ global_env }}'

- name: Install scala
  shell: |
    set -xe
    wget https://downloads.lightbend.com/scala/{{ scala_version }}/scala-{{ scala_version }}.tgz
    tar -zxvf scala-{{ scala_version }}.tgz -C /usr/local
  args:
    executable: /bin/bash
  when:
    - with_scala|default(false)|bool

- name: Set scala env vars
  set_fact:
    scala_env:
      PATH: '/usr/local/scala-{{ scala_version }}/bin:{{ ansible_env.PATH }}'
  no_log: yes
  when:
    - with_scala|default(false)|bool

- name: Merge scala env vars into global env
  set_fact:
    global_env: '{{ global_env | combine(scala_env) }}'
  no_log: yes
  when:
    - with_scala|default(false)|bool

- name: Show installed scala info
  shell: |
    which scala
    scala -version
  args:
    executable: /bin/bash
  environment: '{{ global_env }}'
  when:
    - with_scala|default(false)|bool
