- name: Get User Metadata Zip or Url
  shell:
    cmd: |
      set -x
      set -e

      apt install -y unzip
      pip install pyyaml

      result_folder="{{ ansible_user_dir }}/workspace/test_results/"
      mkdir -p $result_folder

      user_data_folder='{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/'
      cd $user_data_folder

      if ls | grep txt;then
        txt_file=`ls | grep txt`
        url=`cat $txt_file`
        if [ -n "$url" ];then
          wget $url
        fi
      fi

      zip_file=`ls | grep zip`

      unzip $zip_file
      python '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/tools/analysis_yaml.py'
    executable: /bin/bash

- name: Get Runtime Info
  shell: cat '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/framework_runtime.txt'
  register: runtime

- name: Defind Parameters - runtime_name
  shell: echo "{{ runtime.stdout | regex_findall('[java|go|python|c|c++]') | join("") }}"
  register: runtime_name

- name: Defind Parameters - runtime_version
  shell: echo "{{ runtime.stdout | regex_replace('[java|go|python|c|c++]') }}"
  register: runtime_version

- name: Get Framework Name
  shell: cat '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/framework_name.txt'
  register: framework

- name: Get Framework Version
  shell: cat '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/framework_version.txt'
  register: framework_version

- name: Get User Entry Point
  shell: cat '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/entry_point.txt'
  register: entrypoint

- name: Check output folder variable exists
  stat:
    path: '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/output_folder.txt'
  register: stat_ouput_folder_variable

- name: Get output folder variable value
  when: stat_ouput_folder_variable.stat.exists
  shell: cat '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/output_folder.txt'
  register: output_folder_name

- name: Check output folder exists
  stat:
    path: '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/{{ output_folder_name.stdout }}'
  register: stat_ouput_folder

- name: Install {{ runtime.stdout }} Runtime
  when: runtime_name != ''
  shell:
    cmd: |
      set -x
      set -e

      runtime_name={{ runtime_name.stdout }}
      runtime_version={{ runtime_version.stdout }}
      add-apt-repository -y ppa:deadsnakes/ppa
      apt update
      if [ $runtime_name == 'python' ];then
        apt install -y $runtime_name$runtime_version
        apt install -y python2.7 python3.5 python3.6 python3.7
      fi

      if [ $runtime_name == 'java' ];then
        apt install -y default-jre default-jdk
        apt install -y openjdk-7-jre openjdk-8-jdk
      fi

      if [ $runtime_name == 'c' ];then
        apt install -y gcc=$runtime_version g++=$runtime_version
        apt install -y gcc-7 g++-7 gcc-8 g++-8 gcc-9 g++-9
      fi

      if [ $runtime_name == 'go' ];then
        apt install -y golang-go=$runtime_version
      fi

    executable: /bin/bash


- name: Install {{ framework.stdout }}-{{ framework_version.stdout }}
  when:
	( framework.stdout == "tensorflow" and runtime_name.stdout in ["python", "c", "java", "go"] ) or
	( framework.stdout == "pytorch" and runtime_name.stdout in ["python", "c"] )
  shell:
    cmd: |
      set -x
      set -e
      framework={{ framework.stdout }}
      framework_version={{ framework_version.stdout }}
      runtime_name={{ runtime_name.stdout }}

      if [ $framework == "tensorflow" ];then
        if [ $runtime_name == "python" ];then
          pip install tensorflow=={{ framework_version.stdout }}
        fi
        if [ $runtime_name == "java" ];then
          wget https://storage.googleapis.com/tensorflow/libtensorflow_jni-cpu-linux-x86_64-{{ framework_version.stdout }}.tar.gz
          tar -xvf libtensorflow_jni-cpu-linux-x86_64-{{ framework_version.stdout }}.tar.gz
        fi
        if [ $runtime_name == "go" ];then
          mkdir ./download
          export GOPATH=`pwd`/download
          apt install -y git-core
          go get github.com/tensorflow/tensorflow/tensorflow/go
          go test github.com/tensorflow/tensorflow/tensorflow/go
          git checkout tags/{{ framework_version.stdout }}

        fi
        if [ $runtime_name == "c" ];then
          wget https://storage.googleapis.com/tensorflow/libtensorflow-cpu-linux-x86_64-{{ framework_version.stdout }}.tar.gz
          tar -xz libtensorflow-cpu-linux-x86_64-{{ framework_version.stdout }}.tar.gz /usr/local
          ldconfig
        fi
      fi

      if [ $framework == 'pythorch' ];then
        if [ $runtime_name == "python" ];then
          pip install torch=={{ framework_version.stdout }} torchvision
        fi
        if [ $runtime_name == "c" ];then
          wget https://download.pytorch.org/libtorch/cu90/libtorch-shared-with-deps-latest.zip
          apt install zip
          unzip libtorch-shared-with-deps-latest.zip
        fi
      fi

    executable: /bin/bash

- name: Run Tensorflow Python Job
  when: framework.stdout == "tensorflow" and runtime_name.stdout in ["python", "java", "go", "c"]
  shell:
    cmd: |
      set -x
      set -e

      user_data_folder='{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/'
      cd $user_data_folder

      py_file={{ entrypoint.stdout }}

      result_folder="{{ ansible_user_dir }}/workspace/test_results/"

      '{{ runtime.stdout }}' $py_file | tee ${result_folder}"/process_log.txt"
    executable: /bin/bash

- name: Run PyTorch Python Job
  when: framework.stdout == "pytorch" and is_python_runtime is defined
  shell:
    cmd: |
      set -x
      set -e

      user_data_folder='{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/'
      cd $user_data_folder

      version=`cat framework_version.txt`

      pip install torch==${version} torchvision

      py_file=`cat entry_point.txt`

      result_folder="{{ ansible_user_dir }}/workspace/test_results/"

      '{{ runtime.stdout }}' $py_file | tee ${result_folder}"/process_log.txt"
    executable: /bin/bash

- name: Collect Traning or Inference Result if needed
  when: stat_ouput_folder.stat.exists and stat_ouput_folder.stat.isdir
  shell:
    cmd: |
      set -x
      set -e

      mv '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/user_data/{{ output_folder_name.stdout }}' \
        '{{ ansible_user_dir }}/workspace/test_results/'
