- hosts: all
  become: yes
  roles:
    - clone-devstack-gate-to-workspace
    - install-devstack
    - config-packer
  tasks:
    - name: Create image by Packer
      shell:
        cmd: |
          set -ex
          set -o pipefail
          cat << EOF >> welcome.txt
          WELCOME TO PACKER!
          EOF
          image_name="packer-cirros-$(date +%s)"
          network=$(openstack network show private -f value -c id)
          src_img_name=$(openstack image list |grep -Eo "cirros.*-disk")
          cat << EOF >> os-template.json
          {
              "builders": [
                  {
                      "type": "openstack",
                      "flavor": "m1.tiny",
                      "image_name": "$image_name",
                      "source_image_name": "$src_img_name",
                      "ssh_username": "cirros",
                      "networks": ["$network"],
                      "floating_ip_pool": "public"
                  }
              ],
              "provisioners": [
                  {
                      "type": "file",
                      "source": "./welcome.txt",
                      "destination": "/home/cirros/"
                  },
                  {
                      "type": "shell",
                      "inline":[
                          "ls -al /home/cirros",
                          "cat /home/cirros/welcome.txt"
                      ]
                  }
              ]
          }
          EOF
          sg_id=$(openstack security group list --project $OS_PROJECT_NAME -f value -c ID -c Name |grep default \
              |head -n 1 |awk '{print $1}')
          openstack security group rule create --ingress --protocol tcp --dst-port 22 $sg_id
          packer validate os-template.json
          packer build -color=false os-template.json
          openstack image show $image_name
          openstack image delete $image_name
        executable: /bin/bash
      environment: '{{ global_env }}'
